*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  font-family: sans-serif;
}
body{
  background-color: rgb(85, 84, 83);
}
ul{
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 2%;
}